.vcr-buttons {
    padding-top: 10px;
}

#year-value {
    font-size: 14px;
}

#infowindow-pano {
    height: 200px;
    width: 125px;
    float: left;
}

#infowindow-title {
    font-size: 16px;
    font-weight: bold;
}

#infowindow-address {
    color: gray;
}

#infowindow-text {
    width: 300px;
    padding-left: 15px;
    float: right;
}

#infowindow-description {
    padding-top: 10px;
}

.multiselect-container {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.control-panel {
    float: left;
    padding-left: 20px;
    padding-bottom: 70px;
    width: 375px;
    height: calc(100% - 2px);
    display: table;
    min-width: 350px;
}

.map-panel {
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

.indented {
    margin-left: 20px;
}

.vert-break {
    margin-top: 25px;
}

.big-vert-break {
    margin-top: 50px;
}

#map-canvas {
    height: calc(100% - 70px);
    width: 100%;
}

.slider-panel {
    width: 100%;
}

div.info-panel>p {
    text-align: justify;
}

.area-subtitle {
    margin-top: -8px;
    color: grey;
    text-transform: uppercase;
}

body {
    padding-bottom: 70px;
}

.float-bottom {
    display: table-row;
    vertical-align: bottom;
    height: 1px;
}

.area-name {
    text-transform: capitalize;
}